<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

    <div class="container-fluid">
        <div class="register-form">
            <%- include('./messages') -%>
                <form action="/campaign/create-campaign" class="" method="post">

                    <div class="form-group">
                        <label for="title">Campaign Title</label>
                        <input name="title" type="text" class="form-control" id="title" placeholder="Type campaign title..." required>
                    </div>

                    <button type="submit" class="btn btn-primary btn-lg">Create campaign</button>
                    <a class="btn btn-secondary btn-lg ml-2" href="/logout">Go Back Home</a>
                </form>

        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
    <script>
        $(document).ready(function() {
            setTimeout(function() {
                $('.hide-me').fadeOut().slideUp()
            }, 6000)
        });
    </script>
</body>

</html>