* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
}


/* Registration Page */

.register-form {
    width: 60%;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
}

.register-form form input {
    width: 70%;
}

.navbar-brand>img {
    width: 100px;
}

.msg-form {
    margin-top: 100px;
}

.message-holder {
    width: 70vw;
}

.card {
    width: 70%;
    margin: 10px auto;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
    transition: all 0.5s ease;
}

.card:hover {
    transform: translateY(-10px);
}

.hide-me {
    width: 70%;
}

@media screen and (max-width: 768px) {
    .message-holder {
        width: 90vw;
    }
    .card {
        width: 100%;
    }
    .register-form {
        width: 100%;
        padding: 0 20px;
    }
    .register-form form input {
        width: 100%;
    }
    .hide-me {
        width: 100%;
    }
}